@import url(https://fonts.googleapis.com/css?family=Press+Start+2P);

h2 {
    text-align: center;
}

body {
    background-image: url('assets/background.png');
    background-repeat: repeat;

    color: yellow;

    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.responsive {
    width: 80%;
    height: 40%;
}

.center {
    text-align: center;
    margin: 0 auto;
}

.top-50 {
    padding: 8rem 0;
    text-align: center;
}

.grid, .menu {
    width: 35rem;
    height: 35rem;
    border: solid black;
    display: flex;
    flex-wrap: wrap;
    background-color: black;
    animation: textColor 10s ease infinite;
    border: 2rem solid black;
}

.btn-start-game {
    font-family: "Press start 2P";
    font-size: 2rem!important;

    height: fit-content;
    background-color: #fcc73f;
    border: 5px solid #231f20;
    border-radius: 10px;
    box-shadow: 5px 5px #ee2a29;
    color: #231f20;
    cursor: pointer;
    font-size: 48px;
    outline: none;
    padding: 16px;
}

.btn-start-game:active {
    box-shadow: none;
    transform: translateX(5px) translateY(5px);
}

.btn-start-game p {
    font-size: 10px;
    margin-bottom: 0;
}

#humanAgentStart {
    margin-bottom: 1rem;
}

.hidden {
    display: none!important;
}

.grid:after, .menu:after {
    position: absolute;
    content: "";
    
    top: 2vw;
    left: 0;
    right: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    margin: 0 auto;

    transform: scale(0.9);

    -webkit-filter: blur(5vw);
    -moz-filter: blur(5vw);
    -ms-filter: blur(5vw);

    filter: blur(5vw);

    background: linear-gradient(270deg, #a70fff, #04d9ff);
    background-size: 200% 200%;

    animation: animateGlow 10s ease infinite;
}

.menu:after {
    background: linear-gradient(270deg, yellow, orange);
}

@keyframes animateGlow {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

@keyframes textColor {
    0% { color: #a70fff; }
    50% { color: #04d9ff; }
    100% { color: #423bfe; }
}

.grid div {
    width: 1.25rem;
    height: 1.25rem;
}

.wall {
    background-color: #423bfe;
}

.pac-man {
    background-color: yellow;
    border-radius: 0.625rem;
}

.red-blinky {
    border-top-left-radius: 0.625rem;
    border-top-right-radius: 0.625rem;
    background-color: red;
}